# ==========================================
# Discord Voice Recorder - Environment Config
# ==========================================

# Token del Bot obtenido en Discord Developer Portal (CRÍTICO)
DISCORD_TOKEN=tu_token_aqui_sin_comillas

# ID del servidor de Discord donde opera el bot (Opcional, si no se especifica vigila todos los servidores donde esté)
GUILD_ID=

# Cantidad mínima de personas humanas en el canal para activar la grabación (Por defecto: 2)
MIN_USERS_TO_RECORD=2

# Segundos de espera (debounce) antes de desconectarse si la cantidad de usuarios baja de 2 (Por defecto: 15)
DEBOUNCE_LEAVE_SECONDS=15

# Ruta al directorio base de almacenamiento (relativa o absoluta)
STORAGE_DIR=../../storage
